* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.title {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 40px;
  font-style: italic;
}
img {
  width: 30%;
  font-weight: 100;
}
.main {
  background: #87ceeb;
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
}
ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.property {
  border: 1px solid white;
}
h1 {
  color: white;
}
a {
  color: white;
}
ul li ul {
  display: none;
  position: absolute;
  background: #fff;
}
ul li ul li a {
  padding: 12px 14px;
}
ul li ul li {
  width: 180px;
}
ul li:hover ul {
  display: block;
}
